* {
  font-family: Mononoki Nerd Font;
  font-size: 11pt;
  font-weight: 900;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  border-bottom: 2px;
  border-style: solid;
  border-color: #ebdbb2;
  padding: 20px 20px 20px 20px;
}

#workspaces {
  font-size: 10px;
}

#workspaces button {
  color: #ebdbb2;
  border-radius: 0px;
  padding: 0px 4px 0px 5px;
}

#workspaces button:hover {
  background-color: #ebdbb2;
  color: #282828;
  border-width: 1px;
  border-color: #ebdbb2;
}

#workspaces button.focused {
  background-color: #ebdbb2;
  color: #282828;
}

#workspaces button.urgent {
  color: #cc241d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray,

#window,
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#cpu {
  margin-left: 10px;
  margin-right: 10px;
}

#memory {
  margin-left: 10px;
  margin-right: 10px;
}

#clock {
  margin-left: 10px;
  margin-right: 10px;
}

#battery {
  margin-left: 10px;
  margin-right: 10px;
}

#battery.critical:not(.charging) {
  color: #cc241d;
}

#network {
  margin-left: 10px;
  margin-right: 10px;
}

#tray {
  color: #ebdbb2;
  margin-left: 10px;
  margin-right: 10px;
}
